<!DOCCTYPE html>
<head>
<meta charset="utf-8"/>
<title>Rate Your Coffee</title>
<style type="text/css">
body{
	width: 760px; /* how wide to make your web page */
	background-color: teal; /* what color to make the background */
	margin: 0 auto;
	padding: 0;
	font:12px/16px Verdana, sans-serif; /* default font */
}
div#main{
	background-color: #FFF;
	margin: 0;
	padding: 10px;
}
</style>
</head>
<body><div id="main">
 
<h1>Rate Your Coffee</h1>
<p>choose the coffee you'd like find:</p>

	<form action="coffee-results.php" method="POST">
		<p>
			<label for="coffee">Coffee:</label>
			<input type="text" name="coffee" id="coffee" />
		</p>
		<p>
			<input type="submit" value="submit" />
		</p>

		<input type="hidden" name="token" value="<?php echo $_SESSION['token'];?>" />
	</form>
<br><br>

<p>input your username, the coffee you'd like to rate, and your rating:</p>

	<form action="coffee-back-end.php" method="POST">
		<p>
			<label for="user">User:</label>
			<input type="text" name="user" id="user" />
		</p>
		<p>
			<label for="coffee">Coffee:</label>
			<input type="text" name="coffee" id="coffee" />
		</p>


		<p>
			<label for="rating">Rating:</label>
			<input type="radio" name="userRating" value="1" />1
			<input type="radio" name="userRating" value="2" />2
			<input type="radio" name="userRating" value="3" />3
			<input type="radio" name="userRating" value="4" />4
			<input type="radio" name="userRating" value="5" />5
		</p>
		<p>
			<label for="comments">Comments:</label>
			<input type="text" name="comments" id="comments" />
		</p>
		<p>
			<input type="submit" value="submit" />
		</p>

		<input type="hidden" name="token" value="<?php echo $_SESSION['token'];?>" />
	</form>


 
</div></body>
</html>

